/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */
/* 
// Small devices (landscape phones, 576px and up) */

@media (min-width: 320px) and (max-width:575px) {
}


@media (min-width: 576px) and (max-width:767px) {
}

@media (min-width: 768px) and (max-width:992px) {
    .search {
        display: flex;
        align-items: center;
        height: 100%;
    }
    .logo_img {
        width: 152px;
    }
    .hearder_right a {
        margin-right: 10px;
        font-size: 14px;
    }
    .hero_menu {
        margin-bottom: 45px;
    }
    .hero_menu ul li a {
        color: #00000091;
        font-size: 10px;
    }
    .hero_left h1 {
        font-size: 50px;
    }
    .hero_left p {
        color: #000;
        font-size: 17px;
        margin-bottom: 70px;
        line-height: 38px;
    }
    .hero_shape {
        width: 300px;
        height: 418px;
        border-radius: 50% 0 50%;
        border: 2px solid #ddd;
        position: relative;
    }
    .hero_shape .herp_img{
        width: 300px;
        height: 418px;
        border-radius: 50% 0 50%;
    }
    .hero_area::before {
        width: 60px;
        height: 70px;
    }
    .diff_brand_item {
        width: 150px;
    }
    .brand_large_img {
        height: inherit;
        width: 100%;
    }
}


@media (min-width: 993px) {
}

@media screen and (max-width: 1000px){
}