@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    transition: 0.3s;
    color: #fff;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #fff;
}

input {
    border: none;
    outline: none;
}

input:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
img,
ul,
ol,
li,
input,
form,
.btn,
.navbar,
.breadcrumb,
.pagination {
    margin: 0px;
    padding: 0px;
    border: 0;
}

body {
    font-family: "IBM Plex Mono", serif;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    padding: 0px;
    font-family: "Raleway", serif;
}

p {
    font-family: "IBM Plex Mono", serif;
    color: #9C9C9C;
    line-height: 24px;
    font-size: 14px;
}

a {
    font-family: "IBM Plex Mono", serif;
    font-weight: 700;
    font-size: 16px;
}

h1 {
    font-family: "Raleway", serif;
    font-weight: 800;
    font-size: 44px;
    color: #FFFFFF;
}

h2 {
    font-size: 34px;
    color: #080808;
    font-weight: 800;
}

h3 {
    font-size: 24px;
    font-weight: 800;
    color: #080808;
    padding-bottom: 8px;
}

h4 {

    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    padding-bottom: 8px;
}

/* h5 {
    font-size: 24px;
    font-weight: 600;
    color: #000D51;
    font-family: "Albert sans", sans-serif;
    padding-bottom: 8px;
    text-transform: capitalize;
}
*/
h6 {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}


a {
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    transition: all linear 0.4s;
}

.btn_com {
    padding: 12px 30px;
    display: inline-block;
    color: #ffffff;
    background-color: #3F8E00;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    transition: all linear 0.4s;
    font-size: 20px;
    font-weight: 400;
    border: 2px solid #fff;
}

.p60 {
    padding: 60px 0;
}

.mt30 {
    margin-top: 30px;
}

.nav_area {
    width: 80%;
    background: #1B1B1B;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    border-radius: 0 0 10px 10px;
}

.nav_item {
    padding: 18px 0;
}

.nav_item ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_item ul li a {
    color: #9C9C9C;
    font-size: 14px;
    font-weight: 400;
}

.social_icon a {
    margin-right: 5px;
}

.social_icon a:last-child {
    margin-right: 0;
}

.social_icon a svg {
    font-size: 15px;
}

/* mobile menu */
.mobile_menu {
    background-color: #1B1B1B;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    padding: 14px 0 14px;
    border-radius: 0 0 10px 10px;
    display: none;
}

.social_icon ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social_icon ul li a svg {
    font-size: 19px;
}

.social_icon ul li:first-child {
    margin-left: 20px;
}

.open,
.close {
    background: #1B1B1B;
    border: 0;
    box-shadow: none;
    outline: 0;
}

.open svg,
.close svg {
    color: #1bbaadb2;
    font-size: 22px;

}

.mobile_menu .nav_item {
    position: absolute;
    top: 0;
    right: -70%;
    width: 70%;
    height: 100vh;
    background-color: #1B1B1B;
    z-index: 9999;
    padding: 16px 10px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    box-shadow: -1px -1px 23px 2px rgba(3, 118, 126, 0.562);
    border-radius: 10px 0 0 10px;
}

.mobile_menu .nav_item.nav_show {
    visibility: visible;
    opacity: 1;
    right: 0;
}

.mobile_menu .nav_item ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mobile_menu .nav_item ul li {
    margin-top: 15px;
    width: 100%;
    text-align: center;
}

.mobile_menu .social_icon .nav_item ul li:first-child {
    margin-left: 0;
    margin-bottom: 17px;
}

.social_icon .nav_item ul li:hover a {
    background-color: rgba(73, 70, 70, 0.253);
    border-radius: 3px;
}

.mobile_menu .nav_item ul li button.close {
    margin: 0;
    display: flex;
    justify-content: right;
}

.mobile_menu .nav_item ul li a {
    display: block;
    font-size: 15px;
}

/* mobile menu */

section.hero_area {
    background: #080808;
    padding: 144px 0px 40px;
}

.hero_left {
    padding: 120px 0 0;
}

.heading_text {
    font-family: "Raleway", serif;
    font-weight: 800;
    font-size: 44px;
    color: #FFFFFF;
}

.hero_left p {
    padding-right: 120px;
    margin: 20px 0 43px;
    font-weight: 400;
    font-size: 14px;
}

.hero_left a {
    background: #3F8E00;
    box-shadow: 0px 0px 15px 1px #62BA1B;
    padding: 18px 50px;
    border-radius: 4px;
}

.hero_left a:hover {
    box-shadow: 0px 0px 10px 1px #62BA1B;
}

.hero_left a svg {
    font-size: 10px;
    color: #fff;
}

.hero_right {
    display: flex;
    align-items: start;
    justify-content: center;
}

.hero_right .hero_img {
    width: 450px;
    height: 450px;
}

.hero_right img {
    width: 100%;
    border-radius: 50%;
    border: 2px solid rgba(1, 184, 197, 1);
    box-shadow: 0 0 10px rgb(1, 184, 197);
}

.hero_bottom {
    margin-top: 60px;
}

.hero_bottom .my_clients {
    padding: 25px 0;
}

.hero_bottom .my_clients .company {
    width: 160px;
    height: 60px;
}

.hero_bottom .my_clients .company img {
    width: 100%;
    object-fit: contain;
}




/* work area */
section.work_place {
    background: #F5F5F5;
}

.work_container {
    display: flex;
    align-items: center;
    height: 100%;
}

.work_top {
    text-align: center;
    margin: 0 0 40px 0;
}

.work_top p {
    color: #9C9C9C;
    margin: 10px 0;
    font-size: 14px;
    padding: 0 213px;
}

.work_left h6.com_title {
    background: #FFF6E9;
    color: #FFA217;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}

.work_left p {
    padding: 10px 0;
    margin-bottom: 30px;
}

.work_left a {
    background: #FFA217;
    padding: 10px 20px;
    border-radius: 5px;
}

.work_left a svg {
    font-size: 12px;
}

.work_right .work_img {
    width: 85%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 5px;
}

.work_right .work_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 5px;
    transition: all 0.3s;
    cursor: pointer;
}

.work_right .work_img img:hover {
    transform: scale(1.1);
}

.work_left h6.com_title.second_tittle {
    color: #000AFF !important;
    background: #D0E6FF;
}

.work_left .second_tittle~a {
    background: #000AFF;
}

.work_left h6.com_title.third_tittle {
    color: #2AB090 !important;
    background: #E0FFF8;
}

.work_left h6.com_title.third_tittle~a {
    background: #2AB090;
}

/* work area */

/* testimonial area */
.testimonial_area {
    background: #080808;
    padding: 90px 0 60px;
}

.testi_top {
    text-align: center;
    margin-bottom: 30px;
}

.testi_top h2 {
    color: #fff;
}

.testi_top p {
    padding: 20px 300px;
}

.testi_body {
    width: 445px;
    height: 212px;
    padding: 25px;
    border: 2px solid transparent;
    border-radius: 8px;
    justify-self: center;
    position: relative;
    margin-bottom: 40px;
}

.testi_body::before {
    content: "";
    position: absolute;
    border-radius: 8px;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border: 2px solid;
    border-image: linear-gradient(to right,
            rgba(83, 83, 83, 0.5) 0%,
            rgba(83, 83, 83, 0.2) 20%,
            rgba(83, 83, 83, 0) 100%) 1;
    pointer-events: none;
}

.testi_body::after {
    content: "“";
    position: absolute;
    top: -28px;
    left: 3%;
    color: #b4b4b4;
    font-size: 50px;
}

.testi_person {
    margin-top: 25px;
    display: flex;
}

.testi_img {
    width: 65px;
    height: auto;
}

.testi_img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
}

.testi_person span {
    color: #fff;
    font-weight: 600;
    align-self: center;
    margin-left: 25px;
    font-size: 20px;
}

/* testimonial area */


/* recent work area */
section.recent_work {
    background: #FFFFFF;
    padding: 90px 0 60px;
}

.recent_work_top {
    text-align: center;
}

.recent_work_top p {
    padding: 20px 200px;
}

.recent_work_body {
    margin-top: 90px;
    cursor: pointer;
}

.re_work_img {
    width: 506px;
    height: 336px;
}

.re_work_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 5px;
}

.re_work_cont {
    padding: 30px 9px;
}

.re_work_cont p {
    padding-right: 150px;
    margin-bottom: 20px;
}

.re_work_cont a.slider_btn {
    padding: 8px 16px;
    background: #3F8E00;
    font-size: 17px;
    color: #fff;
    border-radius: 5px;
    font-weight: 500;
    box-shadow: 0px 0px 5px 1px #62BA1B;
}

.re_work_cont a.slider_btn svg {
    font-size: 15px;
}
.re_slider{
    position: relative;
}
.re_slider.owl-carousel .owl-nav.disabled {
    display: block;
}
.re_slider button.owl-prev {
    position: absolute;
    top: 50%;
    left: -60px;
    transform: translateY(-50%);
}
.re_slider button.owl-next {
    position: absolute;
    top: 50%;
    right : 60px;
    transform: translateY(-50%);
}
.re_slider .owl-nav.disabled button span {
    font-size: 50px;
}
/* recent work area */
/* contact area */
section.form_area {
    background: #080808;
    padding: 90px 0;
}
.form_top {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 90px;
}
.form_top h2 {
    color: #fff;
}
.contact_form {
    width: 50%;
    margin: 0 auto;
}
.form_area .form-label, .contact_form label {
    margin-bottom: .5rem;
    color: #fff;
}
.form_area input{
    height: 40px;
}
.form_area input::placeholder{
    color: 757575;
}
.contact_form button {
    display: block;
    width: 100%;
    padding: 16px;
    background: #3F8E00;
    box-shadow: 0px 0px 15px 1px #62BA1B;
    color: #fff;
    transition: all 0.3s;
    font-weight: 600;
}
.contact_form button:hover{
    background: #3F8E00;
    color: #fff;
    box-shadow: 0px 0px 5px 1px #62BA1B;
}
.contact_form button svg{
    font-size: 12px;
}
/* contact area */


/* skill chart area */
.skill_chart{
    background-color: #051520;
}
.skill_chart_top {
    text-align: center;
    margin-bottom: 30px;
}
.skill_chart_top h2{
    color: #fff;
}
.skill_chart_top p {
    padding: 20px 150px;
}
.skill_chart_cont .progress-number-mark {
    background: rgba(148, 209, 6, 0.836);
    font-weight: 500;
}
.skill_chart_cont .down-arrow {
    border-top: 7px solid rgba(148, 209, 6, 0.836);
}
.skill_chart_cont .progress-fill {
    background: var(--progressbar-fill, linear-gradient(to right, #ff0000af 0%, #3C64EB 100%));
}
/* skill chart area */

/* footer area */
footer.footer_area {
    background: #1B1B1B;
    padding: 20px 0;
}
.footer_content {
    text-align: center;
}
/* footer area */
