@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    transition: 0.3s;
    color: #fff;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #fff;
}

input {
    border: none;
    outline: none;
}

input:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
img,
ul,
ol,
li,
input,
form,
.btn,
.navbar,
.breadcrumb,
.pagination {
    margin: 0px;
    padding: 0px;
    border: 0;
}

input{
    font-family:'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 600;
}
body {
    font-family: "Roboto", serif;
    position: relative;
    font-weight: 300;
    color: #000;
}
span{
    font-family: "Roboto", serif;
}
h1,
h2,
h3,
h4 {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", serif;
    color: #000000;
}

h5, h6{
    margin: 0px;
    padding: 0px;
    font-family:'Open Sans',sans-serif;
    font-weight: 600;
}
p {
    font-family: "Roboto", serif;
    color: #9C9C9C;
    line-height: 24px;
    font-size: 16px;
}

a {
    font-family:'Open Sans',sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

h1 {
    font-weight: 500;
    font-size: 67px;
}

h2 {
    font-weight: 500;
    font-size: 50px;
}

h3 {
    font-weight: 500;
    font-size: 37px;
}

h4 {

    font-weight: 500;
    font-size: 28px;
}

h5 {
    font-size: 21px;
}

h6 {
    font-size: 16px;
}


a {
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    transition: all linear 0.4s;
    font-family:'Open Sans',sans-serif;
}

.btn_com {
    padding: 12px 30px;
    display: inline-block;
    color: #ffffff;
    background-color: #1E2832;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    transition: all linear 0.4s;
    font-size: 16px;
    font-weight: 400;
}


.p60 {
    padding: 60px 0;
}

.mt30 {
    margin-top: 30px;
}

.subtitel{
    font-family: "Roboto", serif;
    color: #9C9C9C;
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
}
.subtitel2{
    font-family: "Roboto", serif;
    color: #9C9C9C;
    line-height: 24px;
    font-size: 14px;
    font-weight: 500;
}

/* header */
header.header_area,.hero_area {
    background: #f3f3f3;
    padding: 19px 0;
}
header.header_area .container{
    border-bottom: 1px solid #3034383f;
    padding-bottom: 15px;
}
.search {
    width: 20px;
    height: 19px;
    display: flex;
    align-items: center;
    height: 100%;
}
.search svg{
    font-size: 20px;
    color: #000;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.logo_img {
    width: 180px;
    height: 34px;
}
.logo_img a img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.hearder_right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}
.hearder_right a{
    color: #000;
    margin-right: 20px;
}
.hearder_right a:last-child{
    margin-right: 0;
}
.hearder_right a svg{
    margin-right: 2px;
}
/* header */

/* hero */
.hero_area{
    padding-bottom: 40px;
    position: relative;
}
.hero_area::before{
    content: "";
    width: 132px;
    height: 124px;
    position: absolute;
    bottom: 3%;
    left: 0;
    background-image: url("../images/hero_pata1.png");
    background-repeat: no-repeat;
    background-position: center center; 

}
.hero_area::after{
    content: "";
    width: 194px;
    height: 261px;
    position: absolute;
    bottom: 25%;
    right: 0;
    background-image: url("../images/hero_pata2.png");
    background-repeat: no-repeat;
    background-position: right;

}
.hero_menu {
    margin-bottom: 92px;
}
.hero_menu ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero_menu ul li a {
    color: #00000091;
}
.hero_menu ul li:hover a {
    color: #000000;
}
.hero_right {
    justify-items: anchor-center;
}
.hero_shape {
    width: 424px;
    height: 542px;
    border-radius: 35% 0 35%;
    border: 2px solid #ddd;
    position: relative;
}
.hero_shape .herp_img {
    width: 424px;
    height: 542px;
    border-radius: 35% 0 35%;
    overflow: hidden;
    position: absolute;
    top: -3%;
    left: -4%;
}
.hero_shape .herp_img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.hero_left h1 {
    /* margin-bottom: 30px; */
    margin: 70px 0 30px;
}
.hero_left p {
    color: #000;
    font-size: 22px;
    margin-bottom: 70px;
    line-height: 43px;
}
.hero_left a {
    padding: 15px 25px;
    background: #1E2832;
    color: #fff;
    border-radius: 2px;
}
.hero_left a:hover {
    color: rgb(255, 195, 195);
}
.hero_left a svg{
    margin-right: 3px;
}
/* hero */

/* different brand */
.diff_brand_area{
    background-color: #fff;
    padding: 60px 0;
}
.diff_brand {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
    position: relative;
}
.diff_brand_item{
    width: 200px;
    height: 70px;
}
.diff_brand_item img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.diff_brand.owl-carousel .owl-dots.disabled {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.diff_brand .owl-dots.disabled .owl-dot {
    width: 10px;
    height: 10px;
    background: #1E2832;
    border-radius: 50%;
    margin-right: 5px;
}
.diff_brand .owl-dots.disabled .owl-dot.active {
    background: red;
    opacity: 0.8;
}
.brand_right_img {
    width: 312px;
    height: 312px;
    cursor: pointer;
    position: relative;
}
.brand_right_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.brand_large_img {
    height: 648px;
    width: 648px;
    position: relative;
}
.brand_large_img::before{
    position: absolute;
    top: 0;
    left: -2%;
    content: "Explore new and popular styles";
    color: #000;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
    transform: rotate(-90deg);
}
.brand_large_img img {
    width: 100%;
    height: 100%;
}
.brand_right_img .sale {
    position: absolute;
    top: 10%;
    left: 0;
}
.brand_right_img .sale span{
    padding: 8px 15px;
    background-color: #000;
    color: #fff;
    font-size: 15px;
    visibility: hidden;
    opacity: 0;
    transition: all linear 0.3s;
}
.brand_right_img:hover .sale span{
    visibility: visible;
    opacity: 1;
}
.brand_large_img::before {
    position: absolute;
    top: 50%;
    left: -42%;
    content: "Explore new and popular styles";
    color: #000;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
    transform: rotate(-90deg),translateY(-50%);
    font-size: 23px;
}

/* different brand */


/* product brand */
section.product_area {
    background: #fff;
    padding: 30px 0;
}
.product_top {
    text-align: center;
    margin-bottom: 30px;
    text-align: center;
}
.product_menu {
    margin-bottom: 30px;
}
.product_menu ul {
    display: flex;
    align-items: center;
    width: 100%;
}
.product_menu ul li{
    margin-right: 15px;
}

.product_menu ul li:last-child{
    margin-right: 0;
}
.product_menu ul li.last_item {
    margin-left: auto;
}
.product_menu ul li.last_item a{
    padding: 7px 10px;
    background: #1E2832;
    color: #fff;
}
.product_menu ul li.last_item a svg{
    margin-right: 5px;
}
.product_menu ul li a{
    color: #9e9e9e;
    text-transform: uppercase;
    font-size: 12px;
}
.product_menu ul li a.active{
    color: #1E2832;
}
.product_card {
    margin-bottom: 25px;
    transition: all linear 0.3s;
}
.product_card:hover {
    box-shadow: 0 0 5px #00000067;
}
.product_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.product_card h4 {
    font-size: 14px;
    margin: 14px 0 15px 7px;
}
.product_card h4 {
    font-size: 14px;
    margin: 14px 0 20px 7px;
}
.product_details {
    display: flex;
    justify-content: space-between;
    padding: 0 7px;
}
.product_varient p {
    font-size: 13px;
}
.product_price p {
    color: #1E2832;
    font-weight: 500;
}
/* product brand */


/* collection area */

.collection_area {
    background-position: center center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    margin-top: 60px;
    padding: 160px 0;
    position: relative;
}
.collectio_body {
    margin-left: 77px;
}
.collection_shadow {
    width: 732px;
    height: 300px;
    position: absolute;
    top: 15%;
    right: 0;
}
.collection_shadow img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.collection_img {
    margin-top: 143px;
    height: 81px;
    width: 191px;
    margin-bottom: 30px;
}
.collection_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.collectio_body p {
    font-size: 25px;
    line-height: 47px;
    color: #fff;
    margin-bottom: 40px;
}
.collectio_body a {
    padding: 10px 20px;
    background: #ddd;
    color: #1E2832;
    font-size: 23px;
}
/* collection area */


/* best sale area */
.best_sale{
    background: #fff;
    padding: 60px 0;
}

.best_sale_top {
    text-align: center;
    margin-bottom: 30px;
}
.best_slae_menu {
    margin-bottom: 30px;
}
.best_slae_menu ul {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}
.best_slae_menu ul li {
    margin-right: 15px;
    font-size: 17px;
    cursor: pointer;
}
.best_slae_menu ul li.active {
    color: #1E2832;
    font-weight: 500;
}
.best_slae_menu ul li:last-child {
    margin-left: auto;
    background: #1E2832;
    color: #fff;
    padding: 2px 5px;
    font-size: 14px;
}
.best_sale_slider_item {
    width: 312px;
}
.best_sale_slider .best_sale_img {
    width: 312px;
    height: inherit;
    position: relative;
}
.best_sale_slider .best_sale_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.best_sale_slider .best_sale_img .top_sale {
    position: absolute;
    top: 9%;
    left: 0;
    padding: 0px 13px;
    background: #000;
    z-index: 1111;
}
.top_sale p {
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
}
.best_sale_slider .best_sale_img .hot_sale{
    background-color: #FF6F61;
}
.best_sale_slider .best_sale_img .hot_sale p {
    color: #FFFFFF;
    font-size: 13px;
}
.best_sale_slider_item h4 {
    font-size: 22px;
    margin: 15px 0 20px 5px;
}
.best_sale_price {
    display: flex;
    justify-content: space-between;
    padding: 0px 5px;
}

.sale_pri {
    display: flex;
    gap: 10px;
}
.sale_pri del {
    color: #000;
    opacity: 0.6;
    font-size: 16px;
}
.sale_pri p {
    color: red;
    font-weight: 500;
}
.no_discount p{
    color: #1E2832;
}
.best_sale_slider{
    position: relative;
}
.best_sale_slider button.owl-prev {
    position: absolute;
    top: 40%;
    left: 2%;
    transform: translateY(-40%);
}
.best_sale_slider button.owl-prev span {
    font-size: 70px;
    color: #1E2832;
    opacity: 0.5;
}
.best_sale_slider button.owl-next {
    position: absolute;
    top: 40%;
    right: 2%;
    transform: translateY(-40%);
}
.best_sale_slider button.owl-next span{
    font-size: 70px;
    color: #1E2832;
    opacity: 0.5;
}
/* best sale area */


