@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    transition: 0.3s;
    color: #fff;
}

a:hover,
a:focus {}

input {
    border: none;
    outline: none;
}

input:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
img,
ul,
ol,
li,
input,
form,
.btn,
.navbar,
.breadcrumb,
.pagination {
    margin: 0px;
    padding: 0px;
    border: 0;
}

input {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

body {
    font-family: "Poppins", serif;
    position: relative;
    font-weight: 300;
    color: #000;
}

span,
button {
    font-family: "Poppins", serif;
}

h1,
h2,
h3,
h4 {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", serif;
    color: #000000;
}

h5,
h6 {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", serif;
}

p {
    font-family: "Poppins", serif;
    color: #4F4F4F;
    line-height: 36px;
    font-size: 22px;
}

a {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 18px;
    color: #4F4F4F;
}

h1 {
    font-weight: 700;
    font-size: 70px;
    line-height: 90px;
}

h2 {
    font-weight: 700;
    font-size: 46px;
    line-height: 65px;
}

h3 {
    font-weight: 600;
    font-size: 36px;
    line-height: 52px;
}

h4 {

    font-weight: 700;
    font-size: 32px;
    line-height: 46px;
}

h5 {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}

h6 {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}


a {
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    transition: all linear 0.4s;
}

.btn_com {
    padding: 12px 30px;
    display: inline-block;
    color: #ffffff;
    background-color: #27AE60;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    transition: all linear 0.4s;
    font-size: 18px;
    font-weight: 500;
}


.p60 {
    padding: 60px 0;
}

.mt30 {
    margin-top: 30px;
}

.mt60 {
    margin-top: 60px;
}

/* header area */
.container {
    max-width: 1300px;
}

.logo img {
    width: 75%;
}

.search_area form {
    width: 80%;
    border: 1px solid #ddd;
    border-radius: 30px;
}

.form-group {
    display: flex;
    align-items: center;
    height: 100%;
}

.serch_icon {
    width: 5%;
    display: flex;
    justify-content: flex-end;
}

.serch_input {
    width: 80%;
}

.serch_btn {
    width: 15%;
}

.serch_input input {
    border: none;
}

.serch_input input:focus {
    box-shadow: none;
}

.serch_btn button {
    background: #4F4F4F;
    color: #fff;
    border: none;
    padding: 5px;
    width: 100%;
    border-radius: 40px;
}

.logo_area {
    padding: 10px 0;
}

.logo_right {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
}

.fv_chart {
    display: flex;
    gap: 25px;
    margin-right: 40px;
}

.fv_chart svg {
    font-size: 25px;
}

.fv_chart .chart {
    position: relative;
}

.chart a span {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #FF5C00;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    border-radius: 50%;
    color: #fff;
    top: -8px;
    right: -15px;
}

.login_area a {
    display: flex;
    gap: 5px;
    align-items: center;
    height: 100%;
}

.login_icon {
    width: 40px;
    height: 40px;
    background: #F2F2F2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cat_area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    background: #27AE60;
    border-radius: 40px;
    cursor: pointer;
    position: relative;
}

.cat_area svg {
    color: #fff;
    font-size: 18px;
}

.cat_cont p {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
}

.main_menu {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_menu ul {
    display: flex;
    align-items: center;
    height: 100%;
}

.main_menu ul li {
    margin-right: 25px;
}

.main_menu ul li:last-child {
    margin-right: 0;
}

.main_menu ul li a {
    font-size: 18px;
    font-weight: 400;
    color: #4F4F4F;
    display: inline-block;
}

li.active_menu {
    position: relative;
}

li.active_menu:after {
    position: absolute;
    width: 32px;
    height: 4px;
    background: #27AE60;
    bottom: 0;
    left: 0;
    content: "";
}

li.active_menu a {
    padding: 10px 0;
}

.special_offer {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
}

.special_offer a {
    font-weight: 500;
    font-size: 20px;
    color: #FF5C00;
}

.mega_menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 350px;
}

/* category mega menu */
.mega_menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 350px;
    display: none;
    z-index: 9999;
}

.mega_menu span {
    font-size: 18px;
}

.mega_menu svg {
    color: #000;
}

.mega_menu ul {
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.mega_menu ul li {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    transition: all 0.3s;
}

.mega_menu ul li:hover {
    background-color: #ddd;
}

.mega_menu ul li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.cat_item_img img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

li.mega_menu_item {
    position: relative;
}

ul.sub_cat {
    position: absolute;
    left: 100%;
    width: 250px;
    top: 13px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    z-index: 9999;
}

li.mega_menu_item:hover ul.sub_cat {
    visibility: visible;
    opacity: 1;
}

li.child_menu {
    position: relative;
}

ul.child_menu_item {
    position: absolute;
    top: 0px;
    left: 100%;
    width: 200px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    z-index: 9999;
}

li.child_menu:hover ul.child_menu_item {
    visibility: visible;
    opacity: 1;
}

/* category mega menu */
/* header area */


/* hero area */
.container-fluid {
    max-width: 1500px;
}

.hero_section {
    background: #EBFAEB;
    border-radius: 30px;
    padding-top: 50px;
}

.hero_right {
    display: flex;
    justify-content: center;
}

.hero_img {
    width: 500px;
    height: inherit;
}

.hero_img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.hero_left {
    padding-top: 120px;
}

.hero_left h4 {
    font-size: 32px;
    color: #27AE60;
    font-weight: 500;
}

.hero_left h1 {
    font-size: 60px;
    color: #333333;
    margin: 20px 0;
}

.hero_left p {
    font-size: 22px;
    font-weight: 500;
    color: #4F4F4F;
    margin-bottom: 40px;
}

.hero_left a {
    font-weight: 500;
    background: #27AE60;
    color: #fff;
    font-size: 18px;
    padding: 15px 50px;
    border-radius: 100px;
}

.hero_section .owl-dots {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%) rotate(-90deg);
}

.hero_section button.owl-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #999999 !important;
    margin-right: 10px;
}

.hero_section button.owl-dot.active {
    background-color: #FF5C00 !important;
    position: relative;
}

.hero_section button.owl-dot.active::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border: 1px solid #FF5C00;
    border-radius: 50%;
    content: "";
}

/* hero area */

/* search by cat area */

section.search_by_cat {
    margin-top: 60px;
}

.search_by_cat_cont {
    position: relative;
}

.cat_head {
    margin-bottom: 30px;
}

.cat_head h3 {
    padding-bottom: 20px;
    font-size: 34px;
    border-bottom: 2px solid #E0E0E0;
    position: relative;
    color: #333333;
}

.cat_head h3::after {
    position: absolute;
    top: 99%;
    left: 0;
    width: 76px;
    height: 4px;
    background: #27AE60;
    content: "";
    border-radius: 20px;
}

.search_cat_slider {
    display: flex;
    justify-content: space-between;
}

.search_cat_slider a {
    display: flex;
    width: 200px;
    height: 220px;
    background: #F7F7F7;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.search_cat_slider a:hover {
    background: #EBFAEB;
}

.s_cat_img {
    width: 100px;
    height: 100px;
}

.s_cat_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.s_cat_item_name {
    margin-top: 10px;
}

.s_cat_item_name span {
    font-weight: 500;
    color: #333333;
    font-size: 20px;
}

section.search_by_cat .owl-nav {
    position: absolute;
    top: -81px;
    right: 0;
}

section.search_by_cat button.owl-prev span {
    width: 40px;
    height: 40px;
    background: #F2F2F2;
    display: inline-block;
    text-align: center;
    line-height: 37px;
    font-size: 40px;
    border-radius: 50%;
    margin-right: 10px;
    color: #999999;
    transition: all 0.3s;
}

section.search_by_cat button.owl-next span {
    width: 40px;
    height: 40px;
    background: #F2F2F2;
    display: inline-block;
    text-align: center;
    line-height: 37px;
    font-size: 40px;
    color: #999999;
    border-radius: 50%;
    transition: all 0.3s;
    margin-right: 10px;
}

section.search_by_cat button.owl-prev span:hover,
section.search_by_cat button.owl-next span:hover {
    background-color: #27AE60;
    color: #fff;
}

.buy_get_cards {
    margin-top: 40px;
}

.card_1_cont {
    padding: 65px 0 0;
}

.card_1 {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
    padding: 50px;
    border-radius: 20px;
}

.card_1_cont h5 {
    font-weight: 500;
    font-size: 23px;
    color: #FF5C00;
}

.card_1_cont h2 {
    font-weight: 700;
    font-size: 35px;
    line-height: 45px;
    color: #333333;
    padding-bottom: 40px;
}

.card_1_cont a {
    background: #fff;
    color: #FF5C00;
    padding: 8px 17px;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 500;
}

/* search by cat area */

/* deal of the week */
.deal_cards_item {
    width: 240px;
    position: relative;
}

.deal_cards {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.deal_img {
    width: 240px;
    height: 290px;
    border-radius: 20px;
    overflow: hidden;
    background: #F7F7F7;
}

.deal_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.deal_cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.deal_rating {
    display: flex;
    justify-content: space-around;
}

.deal_rating img {
    width: 120px !important;
}

.deal_product_name h4 {
    color: #333333;
    font-weight: 500;
    font-size: 22px;
}

.deal_product_price span {
    font-size: 18px;
    font-weight: 500;
    color: #333333;
}

.deal_product_price del {
    font-size: 17px;
    font-weight: 400;
    color: #BDBDBD;
    margin-left: 5px;
}

.deal_btn {
    margin-top: 15px;
}

.deal_btn button {
    background: transparent;
    padding: 10px 40px;
    border-radius: 100px;
    color: #27AE60;
    font-weight: 600;
    font-size: 18px;
    border: 1px solid #BDBDBD;
    outline: none;
    transition: all linear 0.3s;
}

.deal_btn button:hover {
    background-color: #27AE60;
    color: #fff;
    border-color: #27AE60;
}

.deal_discount {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 68px;
    height: 26px;
    background: #333333;
    border-radius: 30px;
    text-align: center;
}

.deal_discount span {
    font-size: 14px;
    color: #fff;
}

.deal_img {
    position: relative;
}

.deal_img .deal_overlay_quantity {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000066;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    transition: all linear 0.3s;
    visibility: hidden;
    opacity: 0;
}

.deal_overlay_quantity button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #fff;
    background: transparent;
    line-height: 50px;
    color: #fff;
    font-weight: 500;
    font-size: 25px;
}

.deal_overlay_quantity span {
    margin: 0 20px;
    font-weight: 500;
    font-size: 25px;
    color: #27AE60;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    line-height: 50px;
    text-align: center;
}

.deal_img:hover .deal_overlay_quantity {
    visibility: visible;
    opacity: 1;
}

.deal_of_week .owl-carousel .owl-nav.disabled {
    display: block;
    position: absolute;
    top: -101px;
    right: 0;
}

.deal_of_week .owl-carousel button.owl-prev span {
    width: 40px;
    height: 40px;
    background: #F2F2F2;
    display: inline-block;
    text-align: center;
    line-height: 37px;
    font-size: 40px;
    border-radius: 50%;
    margin-right: 10px;
    color: #999999;
    transition: all 0.3s;
}

.deal_of_week .owl-carousel button.owl-next span {
    width: 40px;
    height: 40px;
    background: #F2F2F2;
    display: inline-block;
    text-align: center;
    line-height: 37px;
    font-size: 40px;
    border-radius: 50%;
    margin-right: 10px;
    color: #999999;
    transition: all 0.3s;
}

.deal_of_week .owl-carousel button.owl-prev span:hover,
.deal_of_week .owl-carousel button.owl-next span:hover {
    background-color: #27AE60;
    color: #fff;
}

/* deal of the week */

/* popular brands */
.popular_brands_slider {
    display: flex;
    justify-content: space-between;
}

.popular_brands_slider_item {
    width: 190px;
    height: 144px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brands_img {
    width: 100%;
    height: 100%;
}

.brands_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.popular_brands_slider .owl-nav.disabled {
    display: block;
}

.popular_brands_slider .owl-nav {
    position: absolute;
    top: -80px;
    right: 0;
}

.popular_brands_slider button.owl-prev span {
    width: 40px;
    height: 40px;
    background: #F2F2F2;
    display: inline-block;
    text-align: center;
    line-height: 37px;
    font-size: 40px;
    border-radius: 50%;
    margin-right: 10px;
    color: #999999;
    transition: all 0.3s;
}

.popular_brands_slider button.owl-next span {
    width: 40px;
    height: 40px;
    background: #F2F2F2;
    display: inline-block;
    text-align: center;
    line-height: 37px;
    font-size: 40px;
    border-radius: 50%;
    margin-right: 10px;
    color: #999999;
    transition: all 0.3s;
}

.popular_brands_slider button.owl-prev span:hover,
.popular_brands_slider button.owl-next span:hover {
    background-color: #27AE60;
    color: #fff;
}

.brands_card {
    background: #FFF0DC;
    border-radius: 20px;
    padding: 20px;
}

.b_card_right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.b_img {
    width: 196px;
    height: 200px;
}

.b_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.b_card_left {
    margin-left: 25px;
}
.b_card_left h4 {
    font-size: 24px;
    line-height: 35px;
    margin-top: 30px;
    color: #333333;
    margin-bottom: 50px;
}
.b_card_left a{
    width: 40px;
    height: 40px;
    background: #fff;
    display: inline-block;
    border-radius: 50%;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.b_card_left a svg{
    color: #FF5C00;
}
/* popular brands */


/* customer care */
.customer_cont {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}
.support_img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    overflow: hidden;
}
.support_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.support_cont h5 {
    font-size: 17px;
    color: #333333;
}
.support_cont p {
    font-size: 14px;
    color: #828282;
}

/* customer care */


/* footer */
footer.mt60 {
    background: #F5F5F5;
    padding: 90px 0 60px;
}
.f_logo {
    width: 285px;
    height: 60px;
    object-fit: contain;
}
.f_logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.f_left_cont {
    margin: 30px 0;
    width: 730px;
}
.f_left_cont p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #4F4F4F;
}
.f_apps ul {
    display: flex;
}
.f_apps ul li {
    width: 138px;
    height: 44px;
    display: inline-block;
}
.f_apps ul li {
    width: 138px;
    height: 44px;
    display: inline-block;
}
.f_apps ul li a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.f_common_heading {
    margin-bottom: 35px;
}
.f_common_heading p {
    font-size: 23px;
    font-weight: 500;
    color: #4F4F4F;
}
.f_center_links ul li {
    margin-bottom: 18px;
}
.f_center_links ul li:last-child {
    margin-bottom: 0;
}
.f_center_links ul li a {
    font-size: 16px;
    color: #828282;
    font-weight: 400;
}
.f_social ul {
    display: flex;
}
.f_social ul li {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 5px;
    transition: all linear 0.3s;
}
.f_social ul li:hover{
    background-color: #FF5E4D;
}
.f_social ul li:hover a svg{
    color: #fff;
}
.f_social ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.f_social ul li a svg {
    color: #4F4F4F;
    font-size: 22px;
}
.f_tag p {
    text-align: center;
    color: #828282;
    font-size: 16px;
}
.f_tag p a {
    color: #FF5E4D;
    font-weight: 500;
}
.f_payment ul {
    display: flex;
    align-items: center;
}
.f_payment ul li {
    margin-right: 10px;
}
.f_payment ul li:last-child {
    margin-right: 0;
}
.f_payment ul li a {
    width: 66px;
    height: 23px;
    display: block;
}
.f_payment ul li a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* footer */